#  rename this file to `.env` and add your github token

GITHUB_TOKEN='ADD-YOUR-GITHUB-TOKEN-HERE'

# How to find your github token?
# https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token

