@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");

@tailwind base;

/* As the followings are default styles, they must be placed after base layer */

@media only screen and (max-width: 768px) {
  .dev-img-parent-class {
    height: 40vh;
  }

  .dev-img-class {
    width: 80%;
    height: auto;
    max-width: 300px;
    top: 40%;
    left: 50%;
    transform: translate(-35%, 0%);
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  border-radius: 10px;
}
html {
  scrollbar-color: #ffffff #000000;
  scrollbar-width: auto;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #000513;
}


@tailwind components;
@tailwind utilities;


.button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  /* font-size: 32px; */
  /* padding: 16px; */
  /* width: 220px; */
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 36px; */
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.button:hover{
  padding-right: 24px;
  padding-left:8px;
}

.button:hover:after {
  opacity: 1;
  right: 10px;
}