@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");

@tailwind base;

/* As the followings are default styles, they must be placed after base layer */

@media only screen and (max-width: 768px) {
  .dev-img-parent-class {
    height: 40vh;
  }

  .dev-img-class {
    width: 80%;
    height: auto;
    max-width: 300px;
    top: 40%;
    left: 50%;
    transform: translate(-35%, 0%);
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  border-radius: 10px;
}
html {
  scrollbar-color: #ffffff #000000;
  scrollbar-width: auto;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #000513;
}
.glass {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* animated text */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-text {
  animation-name: fadeIn;
  animation-duration: 2s;
}
/* animated image */
@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.floating-image {
  animation-name: floating;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@tailwind components;
@tailwind utilities;
