@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000513;
  font-family: "Inter", sans-serif;
}

html {
  scrollbar-color: #ffffff #000000;
  scrollbar-width: auto;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  border-radius: 10px;
}
