/* Only for responsive CSS codes */
@media screen and (max-width: 58.75rem) {


    .banner,
    h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 45.625rem) {

    .banner,
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 33rem) {

    .banner,
    h1 {
        font-size: 1.2rem;
    }

    .nav-links {
        display: none;
    }
}

@media screen and (max-width: 20.75rem) {

    .hero-section,
    .buttons {
        margin-left: 6rem;
    }

    .banner,
    h1 {
        font-size: 2rem;
    }


}