/* Only for responsive CSS codes */
@media screen and (max-width: 58.75rem) {


    .banner,
    h1 {
        font-size: 3rem;
    }

    .title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 45.625rem) {

    .banner,
    h1 {
        font-size: 2rem;
    }

    .title,
    h2 {
        font-size: 1rem;
        margin-left: 2rem;


    }
}

@media screen and (max-width: 33rem) {

    .banner,
    h1 {
        font-size: 1.2rem;
    }

    .title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 20.75rem) {

    .hero-section,
    .buttons {
        margin-left: 6rem;
    }

    .banner,
    h1 {
        font-size: 2rem;
    }

    .nav-bar,
    h3 {
        margin-left: 2rem;
    }



}
