/* Only for responsive CSS codes */
@media screen and (max-width: 58.75rem) {


    .banner,
    h1 {
        font-size: 3rem;
    }

    .title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 48.625rem) {

    .banner,
    h1 {

        font-size: 2rem;
    }

    .title,
    h2 {
        font-size: 1rem;
        margin-left: 2rem;
    }

    .hamburger {
        display: block;

    }





    .nav-links {
        position: fixed;
        padding-block: 15rem;
        left: -100%;
        top: 4rem;
        gap: 1;
        flex-direction: column;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        transition: all 0.5s ease;
    }

    .nav-links.active {
        left: 0;

    }
}

@media screen and (max-width: 33rem) {

    .banner,
    h1 {
        font-size: 1.2rem;
    }

    .title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 20.75rem) {

    .hero-section,
    .buttons {
        margin-left: 6rem;
    }

    .banner,
    h1 {
        font-size: 2rem;
    }

    .nav-bar,
    h3 {
        margin-left: 2rem;
    }



}