@import url(https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap);

.btn,
.btn2,
.prj-btn {
  border-radius: 0.5rem;
  padding: 1rem;
}

.btn2,
.prjs {
  padding: 1rem;
}

.prj-content,
.title,
h3 {
  margin-block: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Inter, sans-serif;
  background-color: #000513;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

.lrn,
a:hover {
  color: #9e00ff;
}

.buttons,
.ftr-credit,
.hero-section,
.nav-bar,
.nav-links,
.prj-btn,
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-bar {
  height: 6rem;
}

.nav-links {
  font-size: 1.3rem;
  gap: 2rem;
}

.nav-bar,
h3 {
  font-size: 1.5rem;
  justify-content: space-around;
}

.main {
  height: 45rem;
}

.hero-section {
  font-size: 2.5rem;
  height: 30rem;
}

.buttons {
  gap: 1rem;
  position: relative;
  bottom: 6rem;
}

.btn,
.prj-btn {
  background-color: #9e00ff;
}

.btn:hover {
  color: #000513;
}

.btn2 {
  border: 1px solid #9e00ff;
}

.prjs {

  min-height: 28rem;
  border: 2px solid #9e00ff;
  width: 455px;
  border-radius: 0.5rem;
}



#cards {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  grid-gap: 1rem;
}

.prj-content,
p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.ftr-credit {
  padding-block: 3rem;
  font-size: 1.2rem;
}

.tech-stacks-col {
  color: #0ff;
}

.prj-btn:hover {
  background-color: #9e00ff;
  color: #000513;
}

.prj-img {
  border-radius: 0.5rem;
  width: 20.5rem;
  height: 12.5rem;
}

.title {
  font-size: 2rem;
}