name: Update Dependencies

on:
  schedule:
    - cron: '0 0 * * *' 

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write      
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
         persist-credentials: false
         fetch-depth: 0

      - name: Install Node.js and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'yarn'

      - name: Update dependencies
        run: |
          yarn install
          yarn upgrade --latest

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "chore: Update dependencies" || true

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          token: ${{secrets.DEPENDENCY_SECRET}}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
